fastapi
uvicorn
jinja2
python-multipart
# Database & Auth
sqlalchemy
passlib[bcrypt]
python-jose
# OCR Subsytem
pytesseract
PyMuPDF
Pillow
pandas
openai
elevenlabs
groq
edge-tts
gtts
scikit-learn
polars
pyarrow
sentence-transformers
qdrant-client
aiosqlite
pydantic-settings
